body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

p {
    margin:0.3rem;
}

.name {
    position: absolute;
    right: 0;
    top:0;
}

.ref {
    position: absolute;
    right: 0;
    bottom:0;
}